.form-contact form{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    padding: 10px;
    color: #00000070;
    margin-top: 7px;
}

.form-contact form label{
    font-size: .85em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 7px 0;
}

.form-contact form input, textarea{
    width: 100%;
    border: solid 1px #0000003b;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.form-contact form textarea{
    min-height: 150px;
}

.form-contact form p{
    font-size: .8em;
    font-weight: 300;
    color: #00000085;
}

.form-contact form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 7px;
    outline: none;
}

.form-contact form button:hover{
    background-color: #0e5bcf;
}

.form-contact form button i{
    padding-left: 5px;
}