.draw-title-winner{
    background-color: #C8F8D0;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}

.congratulation{
    max-width: 340px;
    margin: auto;
}

.congratulation h4{
    font-size: 1.3em;
    font-weight: 500;
    color: #085833;
}

.congratulation h5{
    font-size: .85em;
    font-weight: 400;
    color: #085833;
    padding: 10px 0 10px 0;
    line-height: 1.5em;
}

.congratulation p{
    font-size: .85em;
    font-weight: 400;
    color: #085833;
    padding: 10px 0 10px 0;
    line-height: 1.5em;
}

.congratulation button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #198754;
    color: #fff;
    font-size: .9em;
    font-weight: 400;
}

.congratulation button:last-child{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #198754;
    color: #fff;
    font-size: .9em;
    font-weight: 400;
    padding: 5px 10px;
}

.congratulation strong{
    font-weight: 500;
}

.congratulation .numbers-contemplated h6{
    font-size: .85em;
    font-weight: 400;
    color: #085833;
    line-height: 1.5em;
}