.info-single .img-single{
    width: 100%;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px 15px 0 0;
}

.info-single .background-gradient{
    background-image: linear-gradient(180deg, rgba(29, 87, 255, 0) 0, rgba(0, 0, 0, .85));
    width: 100%;
    height: 130px;
    margin-top: -130px;
    padding-left: 10px;
    padding-top: 55px;
}

.info-single .background-gradient span {
    color: #fff;
    width: max-content;
    font-size: .7em;
    font-weight: 500;
    background-color: #198754;
    padding: 2px 7px;
    border-radius: 5px;
    animation: fadeBlink 2.5s infinite;
}

@keyframes fadeBlink {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
}

.info-single .background-gradient h3{
    font-size: 1em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.89);
    margin-top: 4px;
    margin-bottom: 2px;
    text-transform: uppercase;
}

.info-single .background-gradient p{
    font-size: .75em;
    color: #ffffff8f;
    font-weight: 300;
    margin-top: -3px;
}

.info-single a button{
    background: linear-gradient(90deg, #000, #414141);
    color: #fff;
    font-weight: 400;
    font-size: .9em;
    border: none;
    width: 100%;
    padding: 7px 0;
    border-radius: 0 0 12px 12px;
}

.date-price{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.date-price .date-single{
    display: flex;
    align-items: center;

}

.date-price .date-single p{
    font-size: .8em;
    color: #000000de;
    padding-right: 3px;

}

.date-price .date-single span{
    font-size: .65em;
    font-weight: 500;
    padding: 6px 7px;
    background-color: #ffffff80;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08) !important;
    margin-right: 10px;
    border-radius: 3px;

}

.date-price .price-single{
    display: flex;
    align-items: center;
}

.date-price .price-single p{
    font-size: .8em;
    color: #000000de;
    padding-right: 5px;
}

.winner-single{
    display: flex;
    align-items: center;
    background-color: #198754;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
}

.winner-single .img-user-winner{
    width: 15%;
    height: 80px;
    border-radius: 7px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.winner-single .info-winner-single h3{
    font-size: 1.3em;
    font-weight: 400;
    color: #fff;
}

.winner-single .info-winner-single h3 i{
    font-size: .9em;
    color: #ffffff80;
    margin-left: 5px;
}

.winner-single .info-winner-single p{
    font-size: .85em;
    font-weight: 300;
    color: #ffffff94;
}

@keyframes progress-animation {
    0% { background-position: 50% 0%; }
    100% { background-position: 100% 0%; }
}

.progress-bar {
    width: 100%;
    background-color: #909294;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 7px;
}

.progress-bar .progress_inner {
    height: 17px;
    line-height: 17px;
    padding-left: 5px;
    color: #fff;
    text-align: center;
    background: repeating-linear-gradient(
        45deg,
        #157347,
        #157347 10px,
        #1a9d53 10px,
        #1a9d53 20px
    );
    background-size: 200% 100%;
    animation: progress-animation 3s linear infinite;
    border-radius: 5px 0 0 5px;
}

.progress-bar .progress_inner p{
    font-size: .7em;
    padding: 3px 0;
    font-weight: 500;
    margin-top: -2.5px;
    text-align: center;
}


.date-price .price-single div{
    font-size: .8em;
    font-weight: 500;
    padding: 6px 7px;
    color: #fff;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    margin-right: 10px;
    border-radius: 5px;
}

.description-single{
    width: 100%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
}

.description-single .btn-Description{
    background: transparent;
    font-size: .8em;
    font-weight: 500;
    border: none;
    cursor: pointer;
    outline: none;
}

.description-single .btn-Description:hover{
    cursor: pointer;
    color: #024ebe;
}

.description-single .btn-Description i{
    padding-right: 7px;
}

.description-single .description{
    max-height: 300px;
    overflow-y: scroll;
    font-size: .9em;
    font-weight: 300;
    color: #000000c2;
    padding: 10px 5px;
    text-align: left;
}

.winner-single .img-user-winner{
    width: 15%;
    height: 80px;
    border-radius: 7px;
    margin-right: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-single {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: white;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s, color 0.3s;
}

#prevSlide {
    left: 5px;
}

#nextSlide {
    right: 5px;
}

@media only screen and (max-width: 600px) {
    .winner-single .img-user-winner{
        width: 25%;

    }
}

