.term-of-use{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, .08);
    padding: 10px;
    font-size: .85em;
    color: #00000070;
    margin-top: 10px;
}