.dashboard-user-detail{
    padding: 50px;
    background-color: #f5f5f5;
    
}

.dashboard-user-detail h1{
    color: #161616;
    font-size: 1.6em;
    font-weight: 500;
    padding-bottom: 20px;
}

.dashboard-user-detail .user-detail-container .table-names-user-detail{
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    color: #000000bb;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .75em;
    font-weight: 400;
}

.dashboard-user-detail .user-detail-container .user-detail-list{
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    color: #000000bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #00000017;
    margin-top: -3px;
}

.dashboard-user-detail .user-detail-container .user-detail-list .id-order-detail{
    color: #000000bb;
    font-size: .83em;
    font-weight: 400;
    width: 5%;
}

.dashboard-user-detail .user-detail-container .user-detail-list .name-order-detail{
    color: #000000bb;
    font-size: .83em;
    font-weight: 400;
    width: 10%;
}

.dashboard-user-detail .user-detail-container .user-detail-list .status-order-detail{
    border-radius: 30px;
    font-size: .73em;
    font-weight: 500;
    padding: 2px 10px;
    width: 8%;
    text-align: center;
}

.dashboard-user-detail .user-detail-container .user-detail-list .qtd-order-detail{
    color: #000000bb;
    font-size: .83em;
    font-weight: 400;
    width: 8%;
}

.dashboard-user-detail .user-detail-container .user-detail-list .numbers-order-detail{
    width: 40%;
    max-height: 80px;
    overflow: auto;
}

.dashboard-user-detail .user-detail-container .user-detail-list .numbers-order-detail button{
    border: none;
    color: #157347;
    background-color: #30c78156;
    border-radius: 3px;
    font-size: .75em;
    font-weight: 400;
    cursor: text;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail{
    color: #000000bb;
    font-weight: 400;
    width: 7.7%;
    display: flex;
    gap: 15px;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail button{
    background: transparent;
    border: none;
    padding: 0;
    outline: none;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail i{
    color: #1f1f1f;
    font-size: 1.2em;
    cursor: pointer;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail i:hover{
    color: #0d6efd;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000071;
    backdrop-filter: blur(7px);
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order{
    width: 320px;
    height: max-content;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 10px 17px -11px rgba(0, 0, 0, 0.212);
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order h4{
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: solid 1px rgba(0, 0, 0, 0.123);
    padding: 15px;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order p{
    font-size: .9em;
    font-weight: 300;
    padding: 10px 15px;
    color: #000000b0;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order span{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 15px 15px 0;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order span .cancel-order-no{
    border: solid 2px #00000049;
    border-radius: 5px;
    color: #000000ab;
    font-size: .95em;
    font-weight: 300;
    padding: 3px 12px;
    cursor: pointer;
}

.dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order span .cancel-order-yes{
    border: solid 2px #0d6efd;
    border-radius: 5px;
    color: #fff;
    font-size: .95em;
    font-weight: 300;
    background-color: #0d6efd;
    margin-left: 10px;
    padding: 3px 12px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .dashboard-user-detail{
        padding: 20px 10px;
        
    }
    
    .dashboard-user-detail h1{
        font-size: 1.3em;
    }

    .dashboard-user-detail .user-detail-container .table-names-user-detail{
        display: none;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list{
        border-radius: 5px;
        display: block;
        border-top: none;
        margin-top: 10px;
    }

    .dashboard-user-detail .user-detail-container .user-detail-list .id-order-detail{
        width: 100%;
        font-weight: 500;
        padding-bottom: 5px;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list .name-order-detail{
        width: 100%;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list .qtd-order-detail{
        width: 100%;
        margin: 5px 0;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list .numbers-order-detail{
        width: 100%;
        max-height: 300px;
        overflow: auto;
        margin-bottom: 10px;
    }

    .dashboard-user-detail .user-detail-container .user-detail-list .status-order-detail{
        width: 35%;
        margin: 5px 0;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list .numbers-order-detail button{
        border: none;
        color: #157347;
        background-color: #30c78156;
        border-radius: 3px;
        font-size: .75em;
        font-weight: 400;
        cursor: text;
    }
    
    .dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail{
        color: #000000bb;
        font-weight: 400;
        width: 7.7%;
        display: flex;
        gap: 15px;
    }

    .dashboard-user-detail .user-detail-container .user-detail-list .action-order-detail form .modal-delete-order .container-modal-delete-order{
        width: 95vw;
    }

}