.dashboard-new-campaign{
    padding: 50px;
    background-color: #f5f5f5;
    
}

.dashboard-new-campaign h1{
    color: #161616;
    font-size: 1.6em;
    font-weight: 500;
    padding-bottom: 20px;
}

.dashboard-new-campaign .new-campaign-container{
    display: flex;
    gap: 20px;
}

.dashboard-new-campaign .new-campaign-container .nav-bar-new-campaign div{
    background-color: #fff;
    border-radius: 5px;
    color: #000000bb;
    width: 300px;
}

.dashboard-new-campaign .new-campaign-container div button{
    width: 100%;
    background: transparent;
    border: none;
    text-align: start;
    padding: 10px 0 10px 20px;
    color: #000000bb;
    font-size: .85em;
    font-weight: 400;
    outline: none;
}

.dashboard-new-campaign .new-campaign-container div button:hover{
    border-right: solid 3px #0d6efd;
}

.dashboard-new-campaign .new-campaign-container div button i{
    padding-right: 10px;
    font-size: 1.2em;
}

.dashboard-new-campaign .new-campaign-container .new-campaign{
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form{
    display: block;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .btn-new-campaign{
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    width: max-content;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign input[type="text"], input[type="number"], select{
    width: 100%;
    border: solid 1px #0000003b;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    outline: none;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign .text-editor {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 150px;
    max-height: 200px;
    word-wrap: break-word;
    outline: none;
    border-radius: 8px;
    font-size: .9em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    margin-top: 10px;
    overflow: auto;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign .text-editor *::selection {
    background: #b3d4fc; 
    color: #000; 
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign #boldButton{
    border: none;
    border-radius: 5px;
    background-color: #00000046;
    height: 30px;
    width: 30px;
    padding: 0 0 0 8px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign #boldButton i{
    font-size: 1.2em;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign #colorPicker {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff; 
    cursor: pointer;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign #colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .data-campaign #colorPicker::-webkit-color-swatch {
    border: none;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle label span{
    font-size: .7em;
    font-weight: 300;
    color: #1f1f1f;
    margin-left: 5px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle .label-image-raffle{
    background-color: #6C757D;
    color: #fff;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
    width: max-content;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle .file-image{
    width: 300px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px #0000003b;
    border-radius: 5px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery .file-image-galery{
    display: flex;
    flex-wrap: wrap;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery .file-image-galery-item { 
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 5px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery label span{
    font-size: .7em;
    font-weight: 300;
    color: #1f1f1f;
    margin-left: 5px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery .label-image-raffle-galery{
    background-color: #6C757D;
    color: #fff;
    font-size: .9em;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 400;
    cursor: pointer;
    width: max-content;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .switch {
    position: relative;
    display: inline-block;
    width: 70px; 
    height: 34px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b9b9b9;
    transition: .4s;
    border-radius: 34px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign input:checked + .slider {
    background-color: #0d6efd;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign input:checked + .slider::before {
    transform: translateX(36px); 
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider .text-on,
.slider .text-off {
    position: absolute;
    font-size: 0.8em; 
    color: white;
    width: 50%;
    text-align: center;
    line-height: 34px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider .text-on {
    left: 0;
    opacity: 0;
    transition: opacity 0.4s;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider .text-off {
    right: 0;
    opacity: 1;
    transition: opacity 0.4s;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign input:checked + .slider .text-on {
    opacity: 1;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign input:checked + .slider .text-off {
    opacity: 0;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider.round {
    border-radius: 34px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign .slider.round::before {
    border-radius: 50%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .preference-campaign input[type="text"], input[type="number"], select{
    width: 100%;
    border: solid 1px #0000003b;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    outline: none;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .promotion-campaign{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .promotion-campaign label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .promotion-campaign input[type="text"], input[type="number"]{
    width: 100%;
    border: solid 1px #0000003b;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    outline: none;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .draw_titles{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 100%;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .draw_titles label{
    font-size: .9em;
    font-weight: 500;
    color: #1f1f1f;
    display: block;
    margin: 5px 0;
    padding-bottom: 5px;
    padding-top: 7px;
}

.dashboard-new-campaign .new-campaign-container .new-campaign form .draw_titles input[type="text"], input[type="number"]{
    width: 100%;
    border: solid 1px #0000003b;
    border-radius: 8px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    outline: none;
}

@media only screen and (max-width: 600px) {
    .dashboard-new-campaign{
        padding: 20px 10px;
        
    }
    
    .dashboard-new-campaign h1{
        font-size: 1.3em;
    }

    .dashboard-new-campaign .new-campaign-container{
        display: block;
    }

    .dashboard-new-campaign .new-campaign-container .nav-bar-new-campaign div{
        width: 100%;
        margin-bottom: 10px;
    }

    .dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle .file-image{
        width: 100%;
        height: 100px;
    }
    
    .dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery .file-image-galery{
        display: flex;
        flex-wrap: wrap;
    }
    
    .dashboard-new-campaign .new-campaign-container .new-campaign form .images-campaign .image-raffle-galery .file-image-galery-item { 
        border: solid 1px #0000003b;
        border-radius: 5px;
    }
    

        
}