.dashboard-ranking{
    padding: 50px;
    background-color: #f5f5f5;
}

.dashboard-ranking h1{
    color: #161616;
    font-size: 1.6em;
    font-weight: 500;
    padding-bottom: 20px;
}

.dashboard-ranking .filter-ranking form{
    display: flex;
    align-items: center;
    gap: 15px;
}

.dashboard-ranking .filter-ranking select{
    width: 20%;
    border: solid 1px #0000003b;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    outline: none;
}

.dashboard-ranking .filter-ranking button{
    width: 10%;
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.dashboard-ranking .table-names-ranking{
    background-color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    color: #000000bb;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: .75em;
    font-weight: 400;
}

.dashboard-ranking .ranking-grid{
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: 15px;
    color: #000000bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #00000017;
    margin-top: -3px;
}

.dashboard-ranking .ranking-grid .client-ranking{
    display: flex;
    align-items: center;
    width: 35%;
}

.dashboard-ranking .ranking-grid .client-ranking h4{
    font-size: 1.2em;
}

.dashboard-ranking .ranking-grid .client-ranking div{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dashboard-ranking .ranking-grid .client-ranking p{
    color: #000000bb;
    font-size: .75em;
    font-weight: 400;
}

.dashboard-ranking .ranking-grid .phone-ranking, .qtd-numbers-ranking, .category-ranking{
    color: #000000bb;
    font-size: .75em;
    font-weight: 400;
    width: 12%;
   
}

.dashboard-ranking .ranking-grid .category-ranking p{
    color: #157347;
    background-color: #30c78156;
    border-radius: 30px;
    font-size: .85em;
    font-weight: 500;
    padding: 2px 10px;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    .dashboard-ranking{
        padding: 20px 10px;
    }
    
    .dashboard-ranking h1{
        font-size: 1.3em;
    }

    .dashboard-ranking .filter-ranking form{
        display: block;
    }
    
    .dashboard-ranking .filter-ranking select{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .dashboard-ranking .filter-ranking button{
        width: 100%;
    }

    .dashboard-ranking .table-names-ranking{
        display: none;
    }
    
    .dashboard-ranking .ranking-grid{
        background-color: #fff;
        border-radius: 5px;
        display: block;
        border-top: none;
        margin-top: 10px;
    }

    .dashboard-ranking .ranking-grid .client-ranking{
        width: 100%;
    }
    
    
    .dashboard-ranking .ranking-grid .phone-ranking, .qtd-numbers-ranking, .category-ranking{
        width: 100%;
        margin-top: 5px;
       
    }
    
    
}