.dashboard-search{
    padding: 50px;
    background-color: #f5f5f5;
    
}

.dashboard-search h1{
    color: #161616;
    font-size: 1.6em;
    font-weight: 500;
    padding-bottom: 20px;
}

.filter-search{
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-search .search-form{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 33%;
}

.filter-search .search-form h4{
    color: #000000bb;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
}

.filter-search .search-form span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter-search .search-form span select{
    width: 50%;
    border: solid 1px #0000003b;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    outline: none;
}

.filter-search .search-form span .select-title-award{
    width: 77%;
}

.filter-search .search-form span input[type="text"]{
    width: 27%;
    border: solid 1px #0000003b;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    outline: none;
}

.filter-search .search-form span button{
    width: 23%;
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.filter-search .search-bigger-smaller-title{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    width: 33%;
}

.filter-search .search-bigger-smaller-title h4{
    color: #000000bb;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
}

.filter-search .search-bigger-smaller-title span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.filter-search .search-bigger-smaller-title span select:first-child{
    width: 50%;
    border: solid 1px #0000003b;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    outline: none;
}

.filter-search .search-bigger-smaller-title span select{
    width: 27%;
    border: solid 1px #0000003b;
    border-radius: 5px;
    font-size: .9em;
    font-weight: 400;
    color: #0000009c;
    padding: 9px;
    outline: none;
}

.filter-search .search-bigger-smaller-title span button{
    width: 23%;
    border: none;
    border-radius: 7px;
    background-color: #0d6efd;
    color: #fff;
    font-size: .9em;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
}

.result-search{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    color: #000000bb;
    margin-top: 10px;
}

.result-search h4{
    color: #000000bb;
    font-size: .85em;
    font-weight: 400;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.result-search p{
    color: #000000bb;
    font-size: .83em;
    font-weight: 300;
}

.result-search span{
    color: #157347;
    background-color: #30c78156;
    border-radius: 30px;
    font-size: .73em;
    font-weight: 500;
    padding: 2px 10px;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    .dashboard-search{
        padding: 20px 10px;
        
    }
    
    .dashboard-search h1{
        font-size: 1.3em;
    }

    .filter-search{
        display: block;
    }
    
    .filter-search .search-form{
        background-color: #fff;
        width: 100%;
        margin-bottom: 10px;
    }

    .filter-search .search-form span{
        display: block; 
    }
    
    .filter-search .search-form span select{
        width: 100%;
    }

    .filter-search .search-form span .select-title-award{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-form span input[type="text"]{
        width: 100%;
        margin-top: 10px;
    }
    
    .filter-search .search-form span button{
        width: 100%;
    }
    
    .filter-search .search-bigger-smaller-title{
        width: 100%;
    }
    
    
    .filter-search .search-bigger-smaller-title span{
        display: block;
    }
    
    .filter-search .search-bigger-smaller-title span select:first-child{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-bigger-smaller-title span select{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .filter-search .search-bigger-smaller-title span button{
        width: 100%;
    }
        
}