footer {
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
}

footer .container-footer{
    padding: 20px 0;
    text-align: center;
    font-size: .8em;
    color: #4b4b4b;
}

footer .container-footer p{
    margin-bottom: 5px;
}

footer .container-footer span:last-child{
    background-color: #0d6efd;
    color: #fff;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-weight: 300;
    font-size: .85em;
}

footer .container-footer span:last-child a{
    color: #fff;
}